:host {
    display: block;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--sheet-indicator-size);
    height: var(--sheet-indicator-size);
    margin: 0 auto var(--sheet-content-padding-bottom) auto;
    transform: rotateZ(calc(var(--progress) * -180deg));
    color: var(--sheet-indicator-color);
}

svg {
    fill: currentColor;
    width: var(--sheet-indicator-size);
    height: var(--sheet-indicator-size);
}